<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <ol>
    <strong>Plants:</strong>
    <% person.plants.each do |plant| %>
      <li><%= link_to plant.name, plant %></li>
    <% end %>
  </ol>

</div>
