/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Add some basic styling to the navbar */
.navbar {
    background-color: #333;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Thin scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Set the width as desired */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  
